* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050505;
}

body, input, footer {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    background-color: #050505;
    color: #ffffff;
}

header h1 img{
    height: 30px;
    margin-left: 16px;
}

header nav li {
    display: inline;
    margin-left: 20px;
    margin-right: 16px;
    color: #b6f1e4;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
    color: #b6f1e4;
    background-color: #050505;

}

header nav li a button:hover {
    color: #b6f1e4;
}


.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .home-video {
    margin: 0 20px;
    width: 98%;
}

.info {
    margin: 16px;
    text-align: center;

}

section h2 img {
    height: 200px;
}

section h2, h3, p {
    color: #ffffff;
}

form input,
form button {
    display: block;
    align-items: center;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

.pass {
    justify-items: center;
}

form button {
background-color: #b6f1e4;
color: #0a0a0a;
border: none;
border-radius: 8px;
cursor: pointer;
}

form button:hover {
    background-color: #418979;
}

input:focus {
    outline-color: #418979;
}

footer {
    color: #b6f1e4;
    padding: 16px;
    font-size: 10px;
}